body {
    background-color: #dce8f3;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400, 700;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container{

    background-color: #FFFFFF;
    width: 250px;
    height: 380px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.image-container{

    margin-top: 10px
}


.resized-image{
    width: 230px;
    height: 230px;
    align-items: center;
    border-radius: 10px; 
}
.body{
    margin-top: 10px;
    text-align: center;
    align-items: center;
    min-width: 10px;
    max-width: 206px;
    margin-left: 20px;
}

p{
    align-items: center;
    margin: 20 auto;
    text-align: center;
}

strong{
    font-size: 16px;
}

.close{
    margin-top: 10px;
    text-align: center;
    align-items: center;
    min-width: 10px;
    max-width: 206px;
    margin-left: 20px;
    font-size: 12px;
}

span{
    color: grey;
}

@media (max-width: 375px) {
    body {
      font-size: 14px;
      
    }
  }

  @media (min-width: 1441px) {
    body {
      font-size: 18px;
    }
  }
